<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/ca963f54bb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div><h1>Reset password</h1></div>
    {{#each flash}}
        <span><h3>{{this}}</h3></span>
    {{/each}}

            <form method="POST" action="/customer/profile/resetpassword" target="_self">
                <label for="original_password"><h3>Original Password</h3></label>
                <input type="text" name="original_password" id="">
                <label for="new_password"><h3>New Password</h3></label>
                <input type="text" name="new_password">
                <label for="confirmed_password"><h3>Confirm New Password</h3></label>
                <input type="text" name = "confirmed_password">               
                <button>Save</button>                           
            </form>
            <div style="align-items: center; margin-top: 50%; ">
                    <button style="height:80%" onclick="window.location.href='/customer/profile'" style="cursor: pointer;">Back</button>
            </div> 
 
</body>
</html>