<div class="w3-container" style="display:flex; flex-direction: row; height:100%; width:100%">
    <div class="w3-card-4 w3-margin-top" style="width: 25%; min-height:530px; height: 60%">

        <div class="w3-container w3-margin-bottom w3-teal">
            <div class="w3-container ">
                <h2>Reset your password</h2>
            </div>
        </div>

        <form class="w3-container" action="/restaurant/reset_password" method="post">
            <div class="w3-container w3-margin-bottom">
                {{#each flash}}
                <p class="alert">
                    <div class="w3-text-red">{{this}}</div>
                </p>
                {{/each}}
            </div>

            <div class="w3-container w3-margin-bottom">
                <label class="w3-text-teal"><b>Your current password</b></label>
                <input class="w3-input w3-border w3-light-grey" name="original_password" type="text">
            </div>

            <div class="w3-container w3-margin-bottom">
                <label class="w3-text-teal"><b>Your new password</b></label>
                <input class="w3-input w3-border w3-light-grey" name="new_password" type="text">
            </div>

            <div class="w3-container w3-margin-bottom">
                <label class="w3-text-teal"><b>Confrim your new password</b></label>
                <input class="w3-input w3-border w3-light-grey" name="confirmed_password" type="text">
            </div>

            <div class="w3-container w3-margin-bottom">
                <button class="w3-btn w3-blue-grey">Reset</button>
            </div>
        </form>

    </div>
</div>